.feedback {
  padding-bottom: 180px;

  background: url('../img/feedback-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



  &__slider {
    max-width: 1013px;
    height: 422px;
    transform: translateY(-95px);

    @media (max-width: 650px) {
      height: 322px;
    }

    @media (max-width: 480px) {
      height: 222px;
    }

  }

  &__slide {

    & img {
      border-radius: 24px;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  &__comments {
    margin-top: 33px;

    @include mobile {
      margin-top: 13px;
    }

  }

  &__comments-wrapper {
    margin-bottom: 60px;

    @include mobile {
      margin-bottom: 40px;
    }
  }


  &__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & img {
      width: 85px;
      height: 85px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 32px;

    }

    & p {
      margin: 0;
      max-width: 750px;
      background-color: var(--main-bg);
      padding: 39px 109px 39px;
      border-radius: 24px;
      color: var(--light);
      font-weight: 500;
      line-height: 186%;
      font-size: 16px;
      letter-spacing: 0.04em;
      margin-bottom: 34px;

      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

      @include small-tablet {
        font-size: 14px;
        padding: 29px 80px;
      }

      @include mobile {
        overflow-y: scroll;
        font-size: 12px;
        padding: 34px 39px;
        line-height: 255%;

      }

    }

    & span {
      font-weight: 600;
      font-size: 16px;
      line-height: 186%;
      color: var(--dark);

      @include mobile {
        font-size: 20px;
      }
    }
  }
}



.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-bg);
}