.modal {
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(#131313, 0.5);
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  height: 100vh;

  &.active {
    opacity: 1;
    visibility: visible;

  }

  &__content {
    position: relative;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 54px;
    background-color: var(--light);
    ;
    border: 2px solid var(--active);
    border-radius: 10px;
    width: 588px;

    @media (max-width: 600px) {
      width: 280px;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 14px 32px;
    }

  }

  &__btn {
    position: absolute;
    right: 15px;
    top: 15px;


    & svg {
      width: 20px;
      height: 20px;
    }
  }

  &__title {
    font-family: var(--font-seymour);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

  }

  &__cards {
    display: flex;
    gap: 34px;
    margin-bottom: 40px;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }

  }

  &__cards-item {
    margin-top: 90px;
    position: relative;
    width: 132px;
    height: 135px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border: 2px solid #96AF8C;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
    cursor: pointer;
    transition: all .3s ease-in-out;



    &:nth-child(2) {
      border-color: #EFD478;
    }

    &:nth-child(3) {
      border-color: #D5753F;
    }

    &.active,
    &:hover {
      &:nth-child(1) {
        background-color: #9CBE8F;
      }

      &:nth-child(2) {
        background-color: #EFD478;
      }

      &:nth-child(3) {
        background-color: #D5753F;
      }
    }
  }

  &__cards-img {
    position: absolute;
    top: -50px;
    left: 0;
    transform: scale(1.35);

  }

  &__cards-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}