.made {
  background-color: var(--main-bg);
  padding-top: 60px;
  padding-bottom: 155px;

  &__title {
    color: var(--light);
    margin-bottom: 60px;

  }

  &__box {
    display: flex;
    align-items: center;
    gap: 55px;

    @media (max-width: 998px) {
      gap: 20px;
    }

    @include mobile {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    & img {
      max-width: 100%;


      @media (max-width: 998px) {
        width: 336px;
        height: 355.88px;
      }

      @media (max-width: 370px) {
        width: 306px;
        height: 312.88px;
      }


    }
  }

  &__box-content {
    max-width: 463px;

    & p {
      color: var(--light);
      line-height: 194%;
      font-size: 14px;

      @media (max-width: 768px) {
        font-size: 12px;
      }


      &:first-child {
        font-size: 16px;
        line-height: 176%;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }

  &__box-btn {
    max-width: 164px;
    margin-top: 50px;

    @include mobile {

      margin: 0 auto;
      margin-top: 20px;
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 55px;
    gap: 20px;

    @include mobile {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__stats-item {
    max-width: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (max-width: 768px) {
      max-width: 152px;
    }

    & img {
      margin-bottom: 39px;

      @include mobile {
        margin-bottom: 19px;
      }

    }

    & span {
      font-weight: 700;
      font-size: 58px;
      line-height: 71px;
      letter-spacing: 0.04em;
      color: var(--light);

      @include small-tablet {
        font-size: 48px;
        line-height: 59px;
      }

    }

    & p {
      line-height: 1.76;
      letter-spacing: 0.02em;
      color: var(--light);

      @include small-tablet {
        font-size: 14px;
      }
    }
  }
}