.products-modal {

  &__content {
    padding: 40px 32px;
    overflow-y: scroll;

    @include mobile {
      padding: 32px 20px;
    }
  }


  &__nutrition {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__item {
    width: 65px;
    height: 90px;
    border: 2px solid #9CBE8F;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    @media (max-width: 600px) {
      width: 53px;
      height: 72px;
    }


    & span {
      &:first-child {
        background: #9CBE8F;
        box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
        border-radius: 50%;
        transform: translate(0, -10px);
        width: 54px;
        height: 54px;
        font-weight: 600;
        font-size: 12px;
        line-height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 600px) {
          width: 43px;
          height: 43px;
          font-size: 10px;
          line-height: 28px;
        }

      }

      &:last-child {
        overflow: hidden;
        text-overflow: clip;

        @media (max-width: 600px) {
          font-size: 10px;
          line-height: 12px;
          max-width: 33px;
        }

      }
    }

  }

  &__title {
    font-weight: 600;
    margin-top: 48px;
    font-size: 20px;
    line-height: 28px;
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 488px;
    margin-bottom: 48px;

    @media (max-width: 600px) {
      width: 248px;
    }


  }

  &__line {

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}