<section class="contacts">
  <div class="container contacts__container" id="contacts">
    <div class="contacts__cards">
      <div class="contacts__cards-item">
        <h4 class="contacts__cards-title">Cafe</h4>
        <address class='contacts__cards-address'>
          <span class="contacts__cards-city">Chicago</span>
          <a href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7033903,-87.7823204,17z/data=!3m1!4b1!4m6!3m5!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7033903!4d-87.7797401!16s%2Fg%2F11jnxh2b00"
            target="_blank" class="contacts__cards-link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
        </address>
        <div class="contacts__cards-schedule">
          <div class="schedule">
            <span class="schedule__day">Monday - Friday</span>
            <span class="schedule__time">06:00 AM - 10:00 PM</span>
          </div>

          <div class="schedule">
            <span class="schedule__day">Saturday - Sunday</span>
            <span class="schedule__time">08:00 AM - 16:00 PM</span>
          </div>

        </div>

        <div class="contacts__cards-contact contact">
          <a href="tel:610383766284">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </div>

      <div class="contacts__cards-item">
        <h4 class="contacts__cards-title">FOOD TRUCK</h4>
        <address class='contacts__cards-address'>
          <span class="contacts__cards-city">Los Angeles</span>
          <a href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835263,-118.4129089,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
            target="_blank" class="contacts__cards-link">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
        </address>
        <div class="contacts__cards-schedule">
          <div class="schedule">
            <span class="schedule__day">Monday - Friday</span>
            <span class="schedule__time">06:00 AM - 10:00 PM</span>
          </div>

          <div class="schedule">
            <span class="schedule__day">Saturday - Sunday</span>
            <span class="schedule__time">08:00 AM - 16:00 PM</span>
          </div>
        </div>

        <div class="contacts__cards-contact contact">
          <a href="tel:610383766284">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </div>

      <div class="contacts__cards-item">
        <h4 class="contacts__cards-title">Cafe</h4>
        <address class='contacts__cards-address'>
          <span class="contacts__cards-city">New York</span>
          <a href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726938,-73.9573143,17z/data=!3m1!4b1!4m6!3m5!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734!16s%2Fg%2F11dfjw_l7m"
            target="_blank" class="contacts__cards-link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
        </address>
        <div class="contacts__cards-schedule">
          <div class="schedule">
            <span class="schedule__day">Monday - Friday</span>
            <span class="schedule__time">06:00 AM - 10:00 PM</span>
          </div>

          <div class="schedule">
            <span class="schedule__day">Saturday - Sunday</span>
            <span class="schedule__time">08:00 AM - 16:00 PM</span>
          </div>


        </div>
        <div class="contacts__cards-contact contact">
          <a href="tel:610383766284">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </div>
    </div>

    <div class="contacts__btns">
      <button class="btn btn-reset contacts__btn-location">Our Location
        <svg class="">
          <use xlink:href="img/sprite.svg#btn-arrow"></use>
        </svg>
      </button>
      <button class="btn btn-reset btn--stroke contacts__btn-franchise">Franchise
        <svg class="">
          <use xlink:href="img/sprite.svg#btn-arrow"></use>
        </svg>
      </button>
    </div>

    <div class="contacts__social">
      <h2 class="contacts__social-title">homemade ice cream made <span>with passion</span></h2>
      <div class="contacts__social-link">

        <div class="social">
          <a href="https://github.com/" target="_blank" aria-label="github">
            <svg class="">
              <use xlink:href="img/sprite.svg#github"></use>
            </svg>
          </a>

          <a href="https://telegram.org/" target="_blank" aria-label="telegram">
            <svg class="">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>

          <a href="https://facebook.com/" target="_blank" aria-label="facebook">
            <svg class="">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>

        <div class="contacts__social-phone">
          <span>Feel free to contact</span> <a href="tel:610383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
  </div>
</section>