<section class="feedback" id="feedback">
  <div class="container">

    <div class="swiper feedback__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide feedback__slide">
          <img src="img/feedback-slide_01.png" alt="ice creams">
        </div>
        <div class="swiper-slide feedback__slide">
          <img src="img/feedback-slide_02.png" alt="ice creams">
        </div>
        <div class="swiper-slide feedback__slide">
          <img src="img/feedback-slide_03.png" alt="ice creams">
        </div>
      </div>
    </div>

    <div class="swiper feedback__comments">
      <div class="swiper-wrapper feedback__comments-wrapper">
        <div class="swiper-slide feedback__comment">
          <img src="img/comment_01.svg" alt="photo Emily">
          <p>
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have
            beautiful serving, cozy atmosphere and polite staff.
          </p>
          <span>Emily, Los Angeles</span>
        </div>

        <div class="swiper-slide feedback__comment">
          <img src="img/comment_02.svg" alt="photo Emily">
          <p>
            I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.
          </p>
          <span>Sam, Los Angeles</span>
        </div>

        <div class="swiper-slide feedback__comment">
          <img src="img/comment_03.svg" alt="photo Emily">
          <p>
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service -
            always served politely and quickly!
          </p>
          <span>Diana, Chicago</span>
        </div>

        <div class="swiper-slide feedback__comment">
          <img src="img/comment_04.svg" alt="photo Emily">
          <p>
            Every day we come to you with friends after classes in college. We love your ice cream and casual
            atmosphere!
          </p>
          <span>Bryan, New-York</span>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>


  </div>
</section>