<section class="hero" id="hero">
  <div class="container hero__container">

    <div class="hero__title-block">
      <h1 class="hero__title">ice cream made with passion</h1>
      <div class="hero__info">
        <div class="hero__info-item">
          <span class="hero__info-item--big">16</span>
          <span>cafes</span>
        </div>
        <div class="hero__info-item">
          <span class="hero__info-item--big">23</span>
          <span>food trucks</span>
        </div>
      </div>
    </div>

    <div class="hero__btns">
      <a href="products" class="hero__btn btn btn-reset btn--stroke">Products</a>
      <a href="made" class="hero__btn btn btn-reset btn--link">How it’s made?</a>
    </div>

    <div class="hero__descr-block">
      <img src="img/hero_01.png" alt="">
      <p class="hero__descr descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        <a href="#" aria-label="read more" class="descr__arrow-link btn-reset btn--arrow">
          <svg class="">
            <use xlink:href="img/sprite.svg#descr-arrow"></use>
          </svg>
        </a>
      </p>
    </div>
  </div>

</section>