<div class="modal modal__location">

  <div class="modal__content modal__location-content">

    <button class="btn-reset modal__btn modal__location-btn" aria-label="close modal">
      <svg class="">
        <use xlink:href="img/sprite.svg#close-modal"></use>
      </svg>
    </button>

    <h3 class="modal__title">Our Locations</h3>

    <div class="modal__map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Afa66780fe4234162dba56402382847549a526a6d1e66667f89d6b2e3b0597112&amp;source=constructor"
        frameborder="0"></iframe>
    </div>


    <a href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726938,-73.9573143,17z/data=!3m1!4b1!4m6!3m5!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734!16s%2Fg%2F11dfjw_l7m"
      target="_blank" class=" modal__location-link btn btn-reset">Open map</a>




  </div>
</div>