<div class="modal made-modal">

  <div class="modal__content made-modal__content">

    <button class="btn-reset modal__btn made-modal__btn" aria-label="close modal">
      <svg class="">
        <use xlink:href="img/sprite.svg#close-modal"></use>
      </svg>
    </button>

    <h3 class="modal__title">How it’s made?</h3>

    <div class="made-modal__video-block">
      <button class="btn-reset made-modal__video-play" aria-label="play video">
        <svg class="">
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
      <video class="made-modal__video" muted preload="metadata" src="cow.mp4"></video>
    </div>

    <p class="made-modal__descr descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
      dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>