<div class="modal products-modal">

  <div class="modal__content products-modal__content">

    <button class="btn-reset modal__btn products-modal__btn" aria-label="close modal">
      <svg class="">
        <use xlink:href="img/sprite.svg#close-modal"></use>
      </svg>
    </button>

    <h3 class="modal__title">Chololate icecream</h3>

    <img src="img/products-modal_01.png" alt="Chololate icecream" aria-hidden="true">


    <div class="products-modal__nutrition">
      <div class="products-modal__item">
        <span>320</span>
        <span>kkal</span>
      </div>

      <div class="products-modal__item">
        <span>4g</span>
        <span>Protein...</span>
      </div>

      <div class="products-modal__item">
        <span>8,2g</span>
        <span>Fats</span>
      </div>

      <div class="products-modal__item">
        <span>40,4g</span>
        <span>Carbs</span>
      </div>
    </div>

    <h4 class="products-modal__title">Ingredients</h4>

    <div class="products-modal__ingredients">
      <div class="products-modal__line">
        <span>Milk</span> <span>100ml</span>
      </div>

      <div class="products-modal__line">
        <span>Belgian chocolate</span> <span>20g</span>
      </div>

      <div class="products-modal__line">
        <span>Cream</span> <span>150ml</span>
      </div>

      <div class="products-modal__line">
        <span>Cocoa powder</span> <span> 30g</span>
      </div>

      <div class="products-modal__line">
        <span>Sugar</span> <span>40g</span>
      </div>

      <div class="products-modal__line">
        <span>Vanilla sugar</span> <span>10g</span>
      </div>
    </div>


    @include('./form.html')

  </div>
</div>