<section class="products">
  <div class="container">
    <h2 class="products__title title">100% natural <span>products</span></h2>

    <div class="products__box">
      <div class="products__box-item">
        <img class="products__box-img" src="img/products_01.png" alt="ice cream" aria-hidden="true">
        <h3 class="products__box-title">ice cream</h3>
        <p class="descr products__box-descr">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <a href="#" class="products__box-link btn--arrow">
          <svg class="">
            <use xlink:href="img/sprite.svg#descr-arrow"></use>
          </svg>
        </a>
      </div>

      <div class="products__box-item">
        <img class="products__box-img" src="img/products_02.png" alt="ice coffee" aria-hidden="true">
        <h3 class="products__box-title">ice coffee</h3>
        <p class="descr products__box-descr">
          Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor
          enhancers
        </p>
        <a href="#" class="products__box-link btn--arrow">
          <svg class="">
            <use xlink:href="img/sprite.svg#descr-arrow"></use>
          </svg>
        </a>
      </div>

      <div class="products__box-item">
        <img class="products__box-img" src="img/products_03.png" alt="milkshakes" aria-hidden="true">
        <h3 class="products__box-title">milkshakes</h3>
        <p class="descr products__box-descr">
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your
          choice
        </p>
        <a href="#" class="products__box-link btn--arrow">
          <svg class="">
            <use xlink:href="img/sprite.svg#descr-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>