@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Seymour+One&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark);
}

.main-content {
  flex: 1 0 auto;
}


img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}




.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: var(--denim);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .04em;

  & span {
    display: block;
    padding-top: 12px;

    font-family: var(--font-seymour);
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: .06em;
  }



  @include small-tablet {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: normal;

    & span {
      font-size: 34px;
      line-height: 43px;
    }
  }

  @include mobile {
    font-size: 18px;
    line-height: 22px;

    & span {
      font-size: 34px;
      line-height: 43px;
      font-size: 30px;
      line-height: 38px;
      letter-spacing: 0.04em;

    }
  }
}

.descr {
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 176%;

  @include small-tablet {
    font-size: 14px;
  }

}

.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark);
  background-color: var(--active);
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all .3s ease-in-out;

  & svg {
    margin-top: 2px;
    stroke-width: 2px;
    fill: none;
    stroke: var(--dark);
    width: 12px;
    height: 12px;
    transition: all .3s ease-in-out;

  }

  &:hover {
    background: var(--hover);
  }

  &:focus {
    outline: none;
    background: var(--hover);
    color: var(--light);

    & svg {
      stroke: var(--light);
    }
  }

  &:disabled {
    background: #ababab;
  }

  &--stroke {
    background: none;
    border: 2px solid var(--active);

    &:hover {
      background: none;
      border-color: var(--hover);
    }

    &:focus {
      background: none;
      border-color: var(--hover);
      color: var(--light);
    }

    &:disabled {
      background: none;
      border-color: #ababab;
    }
  }

  &--link {
    background: none;
    color: var(--active);
    text-decoration: underline;

    &:hover {
      background: none;
      color: var(--hover);
    }

    &:focus {
      background: none;
      color: var(--light);
    }

    &:disabled {
      background: none;
      color: #ababab;
    }
  }

  &--arrow {

    & svg {
      width: 41px;
      height: 16px;
      fill: var(--dark);
    }

    &:hover {
      transform: scale(1.1);
    }

    &:focus {
      outline: none;
      transform: scale(1.3);
    }
  }


}

.logo {

  position: relative;
  z-index: 300;

  & svg {
    width: 58px;
    height: 58px;
    fill: var(--active);
    transition: all .3s ease-in-out;

    &:hover {
      fill: var(--hover);
    }

    @include small-tablet {
      width: 48px;
      height: 44px;
    }
  }

}